$primary-font	: 'Station No .4 W 00- Four';
$secondary-font	: 'Bebas Neue';
$title-font		: 'Montserrat';

$bg-color       : #21201C;
$primary-color	: #e2d3c6; 
$primary-color2	: #212322;
$white          : #ffffff;
$black			: #201f1f;
